.list {
  position: relative;
  display: inline-block;
  width: 48%;
  padding: 10px 1%;
  vertical-align: top;
  letter-spacing: 2px;
  color: rgb(232, 228, 0);
  margin: 0 auto;
  padding: 10px;
  border: solid 3px;
  border-radius: 5px;
}

/* .list >ul {
  list-style-type: none;
}  */

.films__header {
  margin: 0;
}

.button {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-weight: 800;
}

@media (max-width: 400px) {
  .list {
    max-width: 100%;
  }
}
